/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.09.2018, 9:56:17
    Author     : hp
*/

.flex-row-wr-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
         -ms-flex-pack: center;
            justify-content: center;
}
.flex-row-nwr-center{
    display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.flex-row-nwr-start{
    display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.flex-row-wr-start{
    display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.flex-row-nwr-space{
    display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flex-row-wr-space{
    display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flex-aling-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-line-pack: center;
                align-content: center
}