
@media screen and (max-width: 850px) {
    .product {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
}
@media screen and (max-width: 650px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    p{
         font-size: 1rem
    }
    .flex-colomn-center-w576{
        -webkit-box-orient: vertical;
            -webkit-box-direction: normal;   
            -ms-flex-direction: column;
             flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
             align-items: center;
    }
    .date__outdoorImg{
         padding-right: 5%;
    }
    .flex-order-1-w576{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
             order: -1;
    }
    .flex-center-w576{
        -webkit-box-pack: center;
             -ms-flex-pack: center;
             justify-content: center;
    }
    .img-product {
         height: 3.0rem;
    }
  .product__img-product {
         margin-right: 1rem;
    }
}
@media screen and (max-width: 400px) {
    .product {
        border-bottom: 1px dashed #CCDCE8;
    }
    .flex-end-w400{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
    }
    .flex-right-w400{
         -ms-flex-preferred-size: auto;
            flex-basis: auto;
         text-align: right;
    }
    .flex-column-end-w400{
        -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
            -ms-flex-direction: column;
             flex-direction: column;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end
    }
}
   @media screen and (max-width: 350px) {
       .flex-column-center-w350{
        display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
        -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
             align-items: center
    }
}